<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is home page 1+2</h1>
   <h3><%= 1 + 2 %></h3>   <!-- interpolation syntax (ejs.co)-->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Eius facere eligendi doloremque fuga ipsum et ea, optio aliquam placeat 
        porro laudantium ad id corrupti voluptatem modi! 
        Aperiam dicta laboriosam cum?
    </p>
    <button>Click me!</button>
</body>
</html>